:root {
  --white: #FFF;
  --primary: #61ECBC;
  --black: #182339;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(/public/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  font-size: 2rem;
}

.container {
  max-width: 60rem;
  width: 95%;
  margin: 0 auto;
}

.app-title {
  font-size: 3.8rem;
  margin-top: 5rem;
  color: var(--white);
  line-height: .8;
}

.app-title span {
  display: block;
  color: var(--primary);
  font-size: 4.4rem;
}

.content {
  margin-top: 5rem;
  padding: 6rem 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}

.form,
.field {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form label {
  font-weight: 600;
  color: var(--black);
}

.form select {
  background-color: #ECEBEB;
  padding: 1.2rem;
  font-size: 1.6rem;
  border: 1px solid #ccc;
  border-radius: .5rem;
}

.form [type="submit"] {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  padding: 1.4rem;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: .5rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color .3s ease;
}
.form [type="submit"]:hover {
  background-color: #4ED3A3;
}